@import './mixins';
@import '../Typography/mixins';
@import '../../common';

.root {
  border-radius: $border-radius;
  min-height: $element-height;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 14px;
  outline: 0;
  position: relative;

  @include typography-variant-button;
  @include interaction-active-scale;

  .icon {
    height: 1rem;
    width: auto;
    margin-right: 8px;
    fill: currentColor;
    color: inherit;
  }

  &.fullWidth {
    width: 100%;
  }

  &[disabled]{
    transform: none !important;
    cursor: not-allowed;
  }

  span {
    pointer-events: none;
    font: inherit;
  }

  &[disabled] * {
    opacity: 0.6;
  }

  &.left {
    justify-content: left;
  }

  &.right {
    justify-content: right;
  }

  &.center {
    justify-content: center;
  }
}

.storybookContainer {
  display: flex;
  flex-wrap: wrap;

  & > button {
    margin: 8px;
  }
}
